<ion-header translucent>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Global Chat
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Online:
        </ion-list-header>

        <ion-item *ngFor="let userItem of listaUsuarios">
          <ion-label><strong>{{ userItem[0] }}</strong></ion-label>
            <!-- <h3 *ngIf="filterLast(userItem[0]) !== undefined">
              <span *ngIf="filterLast(userItem[0]).author === user.name">
                <b>You: </b>
              </span>
              {{filterLast(userItem[0]).text}}
            </h3> -->
    
          <ion-button color="dark" fill="clear" size ="large" (click)="goRoom(userItem[0])">
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!--ion-list>
    <ion-list-header>
      Global Chat
    </ion-list-header>
    <ion-list-header>
      Online
    </ion-list-header>
  </ion-list-->
 
</ion-content>

  <!-- <ion-item color="medium">
    <ion-label>Chat with: {{destusername}}</ion-label>    
  </ion-item>

  <ion-item class ="sala">
   <div> 
     <p *ngFor="let chat of sala">{{chat}}</p>
  </div>

  </ion-item>
<ion-grid>
    <ion-row>
      <ion-col size="7"> <ion-input type="text" name="message" placeholder="Enter your message" [(ngModel)] = "message"></ion-input></ion-col>
      <ion-col>
        <ion-button id="enviar" class ="btn" (click)="sendMessage()"> Send </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->




  <!-- <ion-item>
    <ion-label stacked>Set Nickname</ion-label>
    <ion-input type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
  </ion-item>
  <ion-button full (click)="joinChat()" [disabled]="username === ''">Join Chat as {{ username }}</ion-button> -->





  <!-- <div *ngFor="let message of messages">
    {{message}}
  </div>
  <ion-input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()"></ion-input> -->
<!-- <ion-button (click)="sendMessage()">Send</ion-button> -->


