<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button (click)="auth.logout()">Log Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <pre *ngIf="auth.userProfile$ | async as profile">
    <code>{{ profile | json }}</code>
    </pre>
  <pre *ngIf="auth.authenticationState">
  Nombre:<code>{{localperfil.username}}</code>
  El resto de cosas saldran mas adelante, esto es una prueba
    


    <label>
      Nombre de usuario: {{ localperfil.username }} 
    </label>
        
      <br>
      <label>
        id: {{localperfil._id}}
      </label>
      <br>
      <label>
        Correo: {{localperfil.mail}}
      </label>
      <br>
      <label>
        Edad: {{localperfil.edad}}
      </label>
      <br>
      <label>
        Ubicación: {{localperfil.ubicacion}}
      </label>
      <br>
      <label>
        Torneos: {{localperfil.torneos}}
      </label>
      <br>
      <label>
        Foto de perfil: 
        <img [src]="'http://localhost:7000/'+ localperfil.rutaimagen">
      </label>
    </pre>
      
</ion-content>
