<ion-header translucent>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Acceder</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  
  <ion-card  id="card">
  <ion-card-title>
    Iniciar sesión
  </ion-card-title>
  <ion-card-content>
    <form (submit)="loginUser($event)">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" size-lg="11" size-xs="12"> 

            <!-- <div>
              <h3 class="no-margin">Inicia sesión con tu cuenta de Rackets4All</h3>
              <h5 class="no-margin">O autentícate con Facebook</h5>
            </div> -->

                <ion-item class="ion-padding-top" lines="none">
                  <!-- <ion-label class= "text" >Username:  </ion-label> -->
                  <ion-input class= "inp"type="text" name="username" placeholder="Username" [(ngModel)]="username"></ion-input>
                </ion-item>
              
              <ion-item lines="none">
                <!-- <ion-label class= "text">Contraseña:  </ion-label> -->
                <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
              </ion-item>
              <br>
              <div>
                <ion-row class="ion-justify-content-center">
                    <ion-button size="large" type="submit">Iniciar sesión</ion-button>
                </ion-row>
              </div>
            
          </ion-col>

          <ion-row>
            <button class="btn loginface" (click)="auth.login()">
              Inicia sesión con Facebook
              <ion-icon name="logo-facebook" id="logo"></ion-icon>
            </button>
          </ion-row>
          <!--class="btn loginface" id="boton" type="button" // id="logo"-->

          <!-- div>
             <ion-label >
              <ion-icon name="logo-facebook"></ion-icon>
               Click here to sign in with Facebook
              </ion-label>
          </div -->

          
        </ion-row>

      </ion-grid>
      

    </form>
  </ion-card-content>

  </ion-card>

</ion-content>
