<ion-header translucent>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Acceder</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" color="success">
  <ion-card class="item item-text-wrap">
    <form (submit)="loginUser($event)">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center" size-lg="11" size-xs="12">
            <div>
              <h3 class="no-margin">Inicia sesión con tu cuenta de Rackets4All</h3>
              <h5 class="no-margin">O autentícate con Facebook</h5>
            </div>
                <ion-item class="ion-padding-top" lines="none">
                  <!-- <ion-label class= "text" >Username:  </ion-label> -->
                  <ion-input class= "inp"type="text" name="username" placeholder="Username" [(ngModel)]="username"></ion-input>
                </ion-item>
              
              <ion-item class="ion-padding-top" lines="none">
                <!-- <ion-label class= "text">Contraseña:  </ion-label> -->
                <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="password"></ion-input>
              </ion-item>
              
              <ion-row class="ion-justify-content-center" size="auto">
                    <ion-button size="large" color="tertiary" type="submit" fill="outline">ENTRAR</ion-button>
              </ion-row>
            
          </ion-col>

          <div>
            <ion-label class="facebooklabel" (click)="auth.login()">
              <ion-icon name="logo-facebook"></ion-icon>
              Accede con tu cuenta de Facebook
            </ion-label>
          </div>
        </ion-row>

      </ion-grid>
    </form>

  </ion-card>

</ion-content>
