*{
    margin: 0;
    padding: 0;
  }
  
  body, html{
    background: #fff;
    //font-size: 16px;
    color: #000;
    font-family: monospace;
    width: 100%;
    height: 100%;
  }

  h3{
    margin-top: 15px;
  }
ion-card {
    display: flex;
    flex-direction: column;
    width: 720px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    //--background: rgb(240, 159, 159);
  }
.text{
    font-size: 17px;
}
.center{
  text-align: center;
}
/* ion-item{
    --background: rgb(240, 159, 159);
} */
  ion-text {
    margin-left: 15px;
  }
  ion-button {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  ion-input, select, textarea{
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    //margin-bottom: 10px;  
    background-color: rgb(243, 238, 192);
    //margin-top: 17px;
    text-align: center;
  }

  .facebooklabel{
    margin-bottom: 15px;
    margin-left: 10px;
    text-decoration: underline;
    color: rgb(3, 3, 3);
  }
  .facebooklabel:hover {
    color:blue;
    //font-weight:bold;
  }