ion-card-title{
  display: center;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 20px;
  margin-top: 30px;  
}


#card{
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
}

.ion-padding{
  --background: url('../../../assets/wimbledon.jpg') no-repeat center/cover fixed;
}


ion-input, select, textarea{
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  //margin-bottom: 10px;  
  background-color: rgb(243, 238, 192);
  //margin-top: 17px;
  text-align: center;
}
.danger{
  color:  rgb(250, 2, 2);
}
