<ion-header translucent>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Registrarse</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding">
          
  <ion-card id="card">
    <ion-card-title>
      Regístrate
    </ion-card-title>
    <ion-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="registerUser($event)">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-lg="11" size-xs="12">
          <!-- <div>
            <h3>Crear una cuenta</h3>
          </div> -->
          <ion-list>
            <div class="formGroup">
              <ion-item lines="none">
                <!-- <ion-label class="text">Username: </ion-label> -->
                <ion-input  formControlName="username" type="text" name="username" placeholder="Username" [(ngModel)]="username"></ion-input>
                <div *ngIf="registerForm.controls['username'].valid">
                  <ion-chip color="success">&#9989;</ion-chip>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.username" >
                  <div *ngIf="registerForm.get('username').hasError(validation.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                    <ion-label class="danger">
                      {{ validation.message }}
                    </ion-label>
                  </div>
                </ng-container>
                
              </div>
            </div>

            <div class="formGroup">
              <ion-item lines="none">
                <!-- <ion-label class="text">Mail: </ion-label> -->
                <ion-input  formControlName="mail" type="text" name="mail" placeholder="Mail" [(ngModel)]="mail"></ion-input>
                <div *ngIf="registerForm.controls['mail'].valid">
                  <ion-chip color="success">&#9989;</ion-chip>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.mail" >
                  <div *ngIf="registerForm.get('mail').hasError(validation.type) && (registerForm.get('mail').dirty || registerForm.get('mail').touched)">
                    <ion-label class="danger">
                      {{ validation.message }}
                    </ion-label>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="formGroup">
              <ion-item lines="none">
                <!-- <ion-label class="text">Contraseña</ion-label> -->
                <ion-input  formControlName="pass" type="password" name="pass" placeholder="Password" [(ngModel)]="pass"></ion-input>
                <div *ngIf="registerForm.controls['pass'].valid">
                  <ion-chip color="success">&#9989;</ion-chip>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.pass" >
                  <div *ngIf="registerForm.get('pass').hasError(validation.type) && (registerForm.get('pass').dirty || registerForm.get('pass').touched)">
                    <ion-label class="danger">
                      {{ validation.message }}
                    </ion-label>
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="formGroup">
              <ion-item lines="none">
                <!-- <ion-label class="text">Confirmar Contraseña: </ion-label> -->
                <ion-input formControlName="confirmpass" type="password" name="confirmpass" placeholder="Repeat password" [(ngModel)]="confirmpass"></ion-input>
                <div *ngIf="registerForm.controls['confirmpass'].valid && !registerForm.hasError('passwordNotMatch')">
                  <ion-chip color="success">&#9989;</ion-chip>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.confirmpass" >
                  <div *ngIf="registerForm.get('confirmpass').hasError(validation.type) && (registerForm.get('confirmpass').dirty || registerForm.get('confirmpass').touched)">
                    <ion-label class="danger">
                      {{ validation.message }}
                    </ion-label>
                  </div>
                </ng-container>
                <div class="error-message" *ngIf="!registerForm.get('confirmpass').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('confirmpass').dirty || registerForm.get('confirmpass').touched)">
                  <div class="danger">Las contraseñas no coinciden</div>
                </div>
              </div>
            </div>

            <div class="formGroup">
              <ion-item lines="none">
                <!-- <ion-label class="text">Edad: </ion-label> -->
                <ion-input formControlName="edad" type="number" min="0" name="edad" placeholder="Edad" [(ngModel)]="edad"></ion-input>
                <div *ngIf="registerForm.controls['edad'].valid">
                  <ion-chip color="success">&#9989;</ion-chip>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.edad" >
                  <div *ngIf="registerForm.get('edad').hasError(validation.type) && (registerForm.get('edad').dirty || registerForm.get('edad').touched)">
                    <ion-label class="danger">
                      {{ validation.message }}
                    </ion-label>
                  </div>
                </ng-container>
              </div>
            </div>

            <div>
              <ion-segment value="m" (ionChange)="generoSegmentChanged($event)">
                <ion-segment-button value="m">
                  <ion-label>Hombre</ion-label>
                </ion-segment-button>
                <ion-segment-button value="f">
                  <ion-label>Mujer</ion-label>
                </ion-segment-button>
              </ion-segment>
            </div>

<!--             <div class="formGroup">
              <ion-item lines="none">
                <ion-input formControlName="sexo" type="text" name="sexo" placeholder="Sexo: m / f" [(ngModel)]="sexo"></ion-input>
                <div *ngIf="registerForm.controls['sexo'].valid">
                  <ion-chip color="success">&#9989;</ion-chip>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.sexo" >
                  <div *ngIf="registerForm.get('sexo').hasError(validation.type) && (registerForm.get('sexo').dirty || registerForm.get('sexo').touched)">
                    <ion-label class="danger">
                      {{ validation.message }}
                    </ion-label>
                  </div>
                </ng-container>
              </div>
            </div> -->

            <!-- div class="formGroup">
              <ion-item>
                <ion-label class="text">Ubicacion: </ion-label>
                <ion-input formControlName="ubicacion" type="text" name="ubicacion" placeholder="Ciudad de residencia" [(ngModel)]="ubicacion"></ion-input>
                <div *ngIf="registerForm.controls['ubicacion'].valid">
                  <a class="success">&#9989;</a>
                </div>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.ubicacion" >
                  <div *ngIf="registerForm.get('ubicacion').hasError(validation.type) && (registerForm.get('ubicacion').dirty || registerForm.get('ubicacion').touched)">
                    <div class="danger">
                      {{ validation.message }}
                    </div>
                  </div>
                </ng-container>
                
              </div>
            </div-->

          </ion-list>
            <div>
              <ion-row class="ion-justify-content-center">
                <ion-button size="large" type="submit" [disabled]="registerForm.invalid">REGISTRAR</ion-button>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
  </ion-card>
</ion-content>


<!-- <form [formGroup]="registerForm" (ngSubmit)="registerUser($event)">
  <p>
    <label>
      Nuevo username:
      <input formControlName="username" type="text" name="username" placeholder="Username" [(ngModel)]="username">
      <a *ngIf="registerForm.controls['username'].valid">
        <a class="success"> &#9989;</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.username" >
          <div *ngIf="registerForm.get('username').hasError(validation.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
            <div class="danger">
               {{validation.message }}
            </div>
          </div>
        </ng-container>
      </div>
    </label>
  </p>
  <p>
    <label>
      Indique su mail:
      <input formControlName="mail" type="text" name="mail" placeholder="Mail" [(ngModel)]="mail">
      <a *ngIf="registerForm.controls['mail'].valid">
        <a class="success"> &#9989;</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.mail" >
          <div *ngIf="registerForm.get('mail').hasError(validation.type) && (registerForm.get('mail').dirty || registerForm.get('mail').touched)">
            <div class="danger">
               {{validation.message}}
            </div>
          </div>
        </ng-container>
      </div>
    </label>
  </p>
  <p>
    <label>
      Nueva contraseña:
      <input  formControlName="pass" type="password" name="pass" placeholder="password" [(ngModel)]="pass">
      <a *ngIf="registerForm.controls['pass'].valid">
        <a class="success2">Contraseña segura</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.pass" >
          <div *ngIf="registerForm.get('pass').hasError(validation.type) && (registerForm.get('pass').dirty || registerForm.get('pass').touched)">
            <div class="danger">
               {{validation.message }}
            </div>
          </div>
        </ng-container>
      </div>
    </label>
  </p>

  <p>
    <label>
      Repite contraseña:
      <input  formControlName="confirmpass" type="password" name="confirmpass" placeholder="Repeat password" [(ngModel)]="confirmpass">
      <a *ngIf="registerForm.controls['confirmpass'].valid && !registerForm.hasError('passwordNotMatch')">
        <a class="success"> &#9989;</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.pass" >
          <div *ngIf="registerForm.get('confirmpass').hasError(validation.type) && (registerForm.get('confirmpass').dirty || registerForm.get('confirmpass').touched)">
            <div class="danger">
               {{validation.message }}
            </div>
          </div>
        </ng-container>
        <div *ngIf="!registerForm.get('confirmpass').errors && registerForm.hasError('passwordNotMatch') && (registerForm.get('confirmpass').dirty || registerForm.get('confirmpass').touched)">
          <div class="danger">Las contraseñas no coinciden</div>
        </div>
      </div>
    </label>
  </p>

  <p>
    <label>
      Indique su edad:
      <input  formControlName="edad" type="text" name="edad" placeholder="edad" [(ngModel)]="edad">
      <a *ngIf="registerForm.controls['edad'].valid">
        <a class="success"> &#9989;</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.edad" >
          <div *ngIf="registerForm.get('edad').hasError(validation.type) && (registerForm.get('edad').dirty || registerForm.get('edad').touched)">
            <div class="danger">
               {{validation.message }}
            </div>
          </div>
        </ng-container>
  
      </div>
    </label>
  </p>
  <p>
    <label>
      Indique su género:
      <input  formControlName="sexo" type="text" name="sexo" placeholder="m/f" [(ngModel)]="sexo">
      <a *ngIf="registerForm.controls['sexo'].valid">
        <a class="success"> &#9989;</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.sexo" >
          <div *ngIf="registerForm.get('sexo').hasError(validation.type) && (registerForm.get('sexo').dirty || registerForm.get('sexo').touched)">
            <div class="danger">
               {{validation.message }}
            </div>
          </div>
        </ng-container>
      </div>
    </label>
  </p>
  <p>
    <label>
      Indique donde reside:
      <input  formControlName="ubicacion" type="text" name="ubicacion" placeholder="ubicación" [(ngModel)]="ubicacion">
      <a *ngIf="registerForm.controls['ubicacion'].valid">
        <a class="success"> &#9989;</a>
      </a>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.ubicacion" >
          <div *ngIf="registerForm.get('ubicacion').hasError(validation.type) && (registerForm.get('ubicacion').dirty || registerForm.get('ubicacion').touched)">
            <div class="danger">
               {{validation.message }}
            </div>
          </div>
        </ng-container>
      </div>
    </label>
  </p>
  <div>
  <button size="large" shape="round" type="submit" [disabled]="registerForm.invalid" expand="block" >Register</button>
  </div>
  </form>
</div> -->