<ion-header translucent>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
     <ion-back-button defaultHref="/main/torneos"></ion-back-button>
   </ion-buttons>

   <ion-title class="ion-text-center">Inscripción</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding="true">

  <ion-card>
    
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{this.selectedTorneo.nombre}}</ion-card-title> 
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-list-header><strong>Participantes:</strong></ion-list-header>

          <div id="scroll">
            <ion-item *ngFor="let participante of this.listaParticipantes">
              <ion-col><ion-chip>{{participante.nombre}}</ion-chip></ion-col>
              <ion-col>Ranking: {{participante.ranking}}</ion-col>
              <ion-col *ngIf="this.selectedTorneo.modo == 'd'">Pareja: {{participante.pareja.nombre}}</ion-col>
              <!--ion-col>
                Victorias: <ion-badge color="success"></ion-badge> {{participante.victorias}}
              </ion-col>
              <ion-col>
                Derrotas: <ion-badge color="success"></ion-badge> {{participante.victorias}}
              </ion-col-->
            </ion-item>
          </div>
        </ion-list>

        <ion-item>
          <ion-label> 
            <h1><ion-badge color="secondary">Organizado por {{selectedTorneo.organizador}}</ion-badge></h1>
            <ion-chip outline color="secondary">
              <ion-label *ngIf="selectedTorneo.modo == 'i'">Individuales</ion-label>
              <ion-label *ngIf="selectedTorneo.modo == 'd'">Dobles</ion-label>
            </ion-chip>
            <ion-chip outline color="tertiary">
              <ion-label *ngIf="selectedTorneo.genero == 'm'">Masculino</ion-label>
              <ion-label *ngIf="selectedTorneo.genero == 'f'">Femenino</ion-label>
            </ion-chip>
            <ion-chip outline color="primary">
              <ion-label *ngIf="selectedTorneo.pistacubierta == true">Pista Cubierta</ion-label>
              <ion-label *ngIf="selectedTorneo.pistacubierta == false">Pista Descubierta</ion-label>
            </ion-chip>
            <ion-chip outline color="success">
              <ion-label>{{selectedTorneo.tipopista}}</ion-label>
            </ion-chip>
            <ion-chip outline color="warning">
              <ion-label>Bola: {{selectedTorneo.tipobola}}</ion-label>
            </ion-chip>
            <ion-label>Precio de entrada: {{selectedTorneo.inscripcion}} €</ion-label>
            <ion-label>Premio: {{selectedTorneo.premio}}</ion-label>
            <br />
            <b>{{selectedTorneo.descripcion}}</b>
          </ion-label>
        </ion-item>

        <ion-item *ngIf="this.selectedTorneo.modo == 'd'" lines ="none">
          <ion-label>Elegir Pareja del Torneo</ion-label>
          <ion-select [(ngModel)]="this.pareja" placeholder="Pareja">
            <ion-select-option *ngFor="let usuario of this.listaParejas" [value]=usuario checked="false">{{usuario.username}}</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-card-content>

  </ion-card>

  <div id="mapid4" class="mapa"></div>

  <div id="boton">
    <ion-button size="large" expand="block" color="success" (click)="inscribirse()">Apuntarse al Torneo</ion-button>
  </div>

</ion-content>
