<ion-app>

  <ion-header translucent>

    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="toggleVisibleFilters()" size="large">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="getAllTorneos()" size="large">
          <ion-icon slot="start" slot="icon-only" name="reload"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="ion-text-center">Torneos</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content padding="true">

    <ion-refresher slot="fixed" (ionRefresh)="getAllTorneos($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card>

      <ion-card-content *ngIf="visibleFilters">

        <!--ion-list-->
          <!--ion-list-header>Filtrar por</ion-list-header-->

        <ion-row><b>Filtrar por</b></ion-row>

        <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-sm="12">

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[9]"></ion-checkbox>
                <ion-label>Estado del Torneo</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-segment value="a" (ionChange)="estadoSegmentChanged($event)">
                <ion-segment-button value="a">
                  <ion-label color="success">Abierto</ion-label>
                </ion-segment-button>
                <ion-segment-button value="e" >
                  <ion-label color="tertiary">En curso</ion-label>
                </ion-segment-button>
                <ion-segment-button value="f">
                  <ion-label color="danger">Finalizado</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[1]"></ion-checkbox>
                <ion-label>Pista Indoor/Outdoor</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-segment value="f" (ionChange)="pistacubiertaSegmentChanged($event)">
                <ion-segment-button value="t">
                  <ion-label>Indoor</ion-label>
                </ion-segment-button>
                <ion-segment-button value="f">
                  <ion-label>Outdoor</ion-label>
                </ion-segment-button>
              </ion-segment>

              <!--ion-toggle name="pistacubierta" color="tertiary" (ionChange)="pistacubiertaToggleChanged()"></ion-toggle-->
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[2]"></ion-checkbox>
                <ion-label>Tipo de Pista</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-select [(ngModel)]="tipopistaValue" placeholder="Seleccionar">
                <ion-select-option value="TierraBatida">Tierra Batida</ion-select-option>
                <ion-select-option value="Hierba">Hierba</ion-select-option>
                <ion-select-option value="Greenset">Greenset</ion-select-option>
                <ion-select-option value="Detourf">Detourf</ion-select-option>
                <ion-select-option value="Plexicushion">Plexicushion</ion-select-option>
                <ion-select-option value="Rapida">Rápida</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[3]"></ion-checkbox>
                <ion-label>Tipo de Pelota</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-searchbar (ionInput)="searchTipoBola($event)" debounce="500" placeholder="Tipo de Pelota (Wilson, Head, Penn...)"></ion-searchbar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[6]"></ion-checkbox>
                <ion-label>Organizador</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-searchbar (ionInput)="searchOrganizador($event)" debounce="500" placeholder="Organizador (Club, Federación...)"></ion-searchbar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[4]"></ion-checkbox>
                <ion-label>Modo</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-segment value="i" (ionChange)="modoSegmentChanged($event)">
                <ion-segment-button value="i">
                  <ion-label>Individuales</ion-label>
                </ion-segment-button>
                <ion-segment-button value="d">
                  <ion-label>Dobles</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[5]"></ion-checkbox>
                <ion-label>Género del Torneo</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-segment value="m" (ionChange)="generoSegmentChanged($event)">
                <ion-segment-button value="m">
                  <ion-label>Masculino</ion-label>
                </ion-segment-button>
                <ion-segment-button value="f">
                  <ion-label>Femenino</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[0]"></ion-checkbox>
                <ion-label>Ubicación [km]</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" max="100" pin="true" [(ngModel)]="ubicacionValue" (ionChange)="updateUbicacionRangeValue($event)">
                <ion-icon slot="start" size="small" name="pin"></ion-icon>
                <ion-icon slot="end" name="pin"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[7]"></ion-checkbox>
                <ion-label>Inscripción [€]</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" min="0" max="1000" step="5" dualKnobs="true" pin="true" [(ngModel)]="inscripcionValue">
                <ion-icon slot="start" size="small" name="cash"></ion-icon>
                <ion-icon slot="end" name="cash"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaTorneosFlags[8]"></ion-checkbox>
                <ion-label>Capacidad del Torneo</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" min="4" max="200" step="2" dualKnobs="true" pin="true" [(ngModel)]="capacidadValue">
                <ion-icon slot="start" size="small" name="person"></ion-icon>
                <ion-icon slot="end" name="people"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

        </ion-col>

        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)="getTorneos()" style="text-transform:none!important;">
              <ion-icon name="search" slot="start"></ion-icon>
              Aplicar Filtros
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="danger" expand="block" (click)="resetFilters()" style="text-transform:none!important;">
              <ion-icon name="close" slot="start"></ion-icon>
              Restablecer Filtros
            </ion-button>
          </ion-col>
        </ion-row>

        <!--/ion-list-->

      </ion-card-content>
    </ion-card>
              

    <ion-card>
      <ion-card-header>
        Lista de Torneos
      </ion-card-header>

      <ion-card-content>
        <ion-searchbar (ionInput)="searchTorneoName($event)" debounce="500" placeholder="Nombre del Torneo"></ion-searchbar>

        <ion-list>
          <!--ion-list-header>Lista de Torneos</ion-list-header-->
            <ion-item *ngFor = "let torneo of listaTorneos">
              <ion-label> 
                <ion-row>
                  <ion-col size="auto"><b>{{torneo.nombre}}</b></ion-col><ion-col size="auto"><ion-badge *ngIf="torneo.ganador==undefined && torneo.participantes.length < torneo.capacidad" color="success">Abierto</ion-badge><ion-badge *ngIf="torneo.ganador==undefined && torneo.participantes.length == torneo.capacidad" color="tertiary">En Curso</ion-badge><ion-badge *ngIf="torneo.ganador!==undefined" color="danger">Finalizado</ion-badge></ion-col>
                </ion-row>
                <h1><ion-badge color="secondary">Organizado por {{torneo.organizador}} </ion-badge></h1> 
                <h1><ion-badge color="dark" outline><ion-label>{{torneo.participantes.length}}/{{torneo.capacidad}} Participante/s</ion-label></ion-badge></h1>
                <!--h1 *ngIf="torneo.ganador !== undefined && torneo.modo == 'i'"><ion-badge color="warning">Ganador: {{torneo.ganador.nombre}}</ion-badge></h1>
                <h1 *ngIf="torneo.ganador !== undefined && torneo.modo == 'd'"><ion-badge color="warning">Ganadores: {{torneo.ganador.nombre}} | {{torneo.ganador2.nombre}}</ion-badge></h1-->
                
                <!--ion-chip outline color="danger">
                </ion-chip-->

                <ion-chip *ngIf="torneo.ganador !== undefined && torneo.modo == 'i'" outline id="medal">
                  <ion-icon name="trophy"></ion-icon>  
                  <ion-label><b>Ganador: {{torneo.ganador.nombre}}</b></ion-label>
                </ion-chip>

                <ion-chip *ngIf="torneo.ganador !== undefined && torneo.modo == 'd'" outline id="medal">
                  <ion-icon name="trophy"></ion-icon>  
                  <ion-label><b>Ganadores: {{torneo.ganador.nombre}} | {{torneo.ganador2.nombre}}</b></ion-label>
                </ion-chip>

                <ion-grid>
                  <ion-row>
                    <ion-col size="12" size-xs="12" size-sm="12" size-md="auto" size-sm="12">
                      <ion-label *ngIf="torneo.genero == 'm'">Masculino |</ion-label>
                      <ion-label *ngIf="torneo.genero == 'f'">Femenino |</ion-label>
                    </ion-col>
                    <ion-col size="12" size-xs="12" size-sm="12" size-md="auto" size-sm="12">
                      <ion-label *ngIf="torneo.modo == 'i'">Individuales |</ion-label>
                      <ion-label *ngIf="torneo.modo == 'd'">Dobles |</ion-label>
                    </ion-col>
                    <ion-col size="12" size-xs="12" size-sm="12" size-md="auto" size-sm="12">
                      <ion-label *ngIf="torneo.pistacubierta == true">Pista: Indoor, {{torneo.tipopista}} |</ion-label>
                      <ion-label *ngIf="torneo.pistacubierta == false">Pista: Outdoor, {{torneo.tipopista}} |</ion-label>
                    </ion-col>
                    <ion-col size="12" size-xs="12" size-sm="12" size-md="auto" size-sm="12">
                      <ion-label>Pelota: {{torneo.tipobola}} |</ion-label>
                    </ion-col>
                    <ion-col size="12" size-xs="12" size-sm="12" size-md="auto" size-sm="12">
                      <ion-label>Inscripción: {{torneo.inscripcion}} € |</ion-label>
                    </ion-col>
                    <ion-col size="12" size-xs="12" size-sm="12" size-md="auto" size-sm="12">
                      <ion-label>Premio: {{torneo.premio}}</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>

                <!--ion-chip outline color="secondary">
                </ion-chip-->

                <!--ion-chip outline color="tertiary">
                </ion-chip-->
     
                <!--ion-chip outline color="primary">
                </ion-chip-->

                <!--ion-chip outline color="success">
                </ion-chip-->

                <!--ion-chip outline color="warning">
                </ion-chip-->

              </ion-label>
              <ion-button fill="clear" color="dark" size="large" (click)= "goTorneo(torneo)">
                <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
              </ion-button>
              <!--ion-button href="{{torneo.sitioweb}}" target="_blank" size="large" fill="clear" color="dark">
                <ion-icon name="link"></ion-icon>
              </ion-button-->
            </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>

  </ion-content>
</ion-app>