<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-label >Accede a R4all</ion-label>
    <div class="log">
      <ion-button class="button icon icon-left ion-finger-print" (click)=goLogin()>Login</ion-button>
    </div>
    <div class="reg">
      <ion-button class="button icon icon-left ion-create" (click)=goRegister()>Register</ion-button>
    </div>

</ion-content>

<!-- <div class="container">
  <h1>Home</h1>
      <a class="container">
          <p>
              <button (click)=goLogin()>Login</button>
          </p>
          <p>
              <button (click)=goRegister()>Register</button>
          </p>
      </a>
</div> -->