.log {
    color: #7e57ff;
    margin-right: 5%;
    margin-left:5%;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 107px;

  }
  .reg {
    color: #7e57ff;
    margin-right: 5%;
    margin-left:5%;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 160px;
  }
  ion-label{
    font-size: 24px;
    background-color: transparent;
    color: black;
    font-weight:bold;
    margin-top: 60px;
    justify-content: center;
    text-align: center;

  }