<ion-header>
  <ion-toolbar color="success">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-justify-content-center">
        <img src="../../../assets/Tenis Ball Icon.png"/>
      </ion-row>
      <ion-card-title>Accede a Rackets4All</ion-card-title>
      <ion-card-subtitle>Con tu Usuario de Rackets4All o autentícate con Facebook</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <ion-button class="button icon icon-left ion-finger-print" (click)=goLogin()>Login</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button class="button icon icon-left ion-create" (click)=goRegister()>Register</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- <div class="container">
  <h1>Home</h1>
      <a class="container">
          <p>
              <button (click)=goLogin()>Login</button>
          </p>
          <p>
              <button (click)=goRegister()>Register</button>
          </p>
      </a>
</div> -->