<ion-app>

  <ion-header translucent>

    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title class="ion-text-center">Página Principal</ion-title>
    </ion-toolbar>

  </ion-header>
  
  <ion-content>
    <ion-tabs>

      <ion-tab-bar slot="bottom" color="dark">
  
        <ion-tab-button tab="dashboard">
          <ion-icon name="grid"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="usuarios">
          <ion-icon name="people"></ion-icon>
          <ion-label>Usuarios</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="torneos">
          <ion-icon name="trophy"></ion-icon>
          <ion-label>Torneos</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="mapa">
          <ion-icon name="map"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>

      </ion-tab-bar>

    </ion-tabs>
  </ion-content>

</ion-app>