<ion-app>
  <ion-content padding="true">

    <ion-card>
      <form [formGroup]="listaUsuariosForm" (ngSubmit)="getUsuarios()">
        <ion-card-header>

          <ion-card-title class="ion-text-center">Usuarios</ion-card-title>
            
          <ion-button color="dark" fill="outline" (click)="toggleVisibleFilters()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
          <ion-button color="dark" fill="outline" type="submit">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
          </ion-button>

        </ion-card-header>


        <ion-card-content *ngIf="visibleFilters">

          <ion-list>
            <ion-item lines="none">
              <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[0]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
              <ion-col><ion-label>Nombre de Usuario:</ion-label></ion-col>
              <ion-col><ion-input type="text" placeholder="Nombre del Usuario" formControlName="usernameInput"></ion-input></ion-col>
            </ion-item>

            <ion-item lines="none">
              <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[1]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
              <ion-col><ion-label>Ubicación:</ion-label></ion-col>
                
            </ion-item>

            <ion-item lines="none">
              <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[2]" [ngModelOptions]="{standalone: true}"></ion-checkbox>
              <ion-col><ion-label>Sexo:</ion-label></ion-col>
              <ion-col>
                <ion-segment value="m" (ionChange)="generoSegmentChanged($event)">
                  <ion-segment-button value="m">
                    <ion-label>(M)asculino</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="f">
                    <ion-label>(F)emenino</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ion-col>
            </ion-item>

            <ion-item lines="none">
              <ion-col><ion-label>Edad:</ion-label></ion-col>
              <ion-col size="1"><ion-checkbox color="primary" [(ngModel)]="listaUsuariosFlags[3]" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-col>
              <ion-col size="2"><ion-input type="number" placeholder="Min" min="0" formControlName="minEdadInput"></ion-input></ion-col>
              <ion-col size="1"><ion-checkbox color="primary" [(ngModel)]="listaUsuariosFlags[4]" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-col>
              <ion-col size="2"><ion-input type="number" placeholder="Max" min="0" formControlName="maxEdadInput"></ion-input></ion-col>
            </ion-item>

            <ion-item lines="none">
              <ion-col><ion-label>Experiencia:</ion-label></ion-col>
              <ion-col size="1"><ion-checkbox color="primary" [(ngModel)]="listaUsuariosFlags[5]" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-col>
              <ion-col size="2"><ion-input type="number" placeholder="Min" min="0" formControlName="minExpInput"></ion-input></ion-col>
              <ion-col size="1"><ion-checkbox color="primary" [(ngModel)]="listaUsuariosFlags[6]" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-col>
              <ion-col size="2"><ion-input type="number" placeholder="Max" min="0" formControlName="maxExpInput"></ion-input></ion-col>
            </ion-item>

            <ion-item lines="none">
              <ion-col><ion-label>Valoración</ion-label></ion-col>
              <ion-col size="1"><ion-checkbox color="primary" [(ngModel)]="listaUsuariosFlags[7]" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-col>
              <ion-col size="2"><ion-input type="number" placeholder="Min" min="0" formControlName="minValoracionInput"></ion-input></ion-col>
              <ion-col size="1"><ion-checkbox color="primary" [(ngModel)]="listaUsuariosFlags[8]" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-col>
              <ion-col size="2"><ion-input type="number" placeholder="Max" min="0" formControlName="maxValoracionInput"></ion-input></ion-col>
            </ion-item>
          </ion-list>

        </ion-card-content>
      </form>
    </ion-card>


    <ion-card>
      <ion-card-header>
        Lista de Usuarios
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <!--ion-list-header>Lista de Usuarios</ion-list-header-->
            <ion-item *ngFor = "let usuario of listaUsuarios">
              <ion-avatar slot="start">
                <img [src]="'http://localhost:7000/'+usuario.rutaimagen">
              </ion-avatar>
              <ion-label> 
                {{usuario.username}}
                <h1><ion-badge color="secondary">{{usuario.ubicacion}}</ion-badge></h1>
                <ion-chip outline color="tertiary">
                  <ion-label *ngIf="usuario.sexo == 'm'">Hombre</ion-label>
                  <ion-label *ngIf="usuario.sexo == 'f'">Mujer</ion-label>
                </ion-chip>
                <ion-chip outline color="secondary">
                  <ion-label>{{usuario.edad}} Años</ion-label>
                </ion-chip>
                <ion-chip outline color="danger">
                  <ion-label>{{usuario.exp}} XP</ion-label>
                </ion-chip>
                <ion-chip outline color="success">
                  <ion-label>Valoración {{usuario.valoracion}}</ion-label>
                </ion-chip>
              </ion-label>
              <ion-button fill="clear" color="success" size="large">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>

  </ion-content>
</ion-app>