<ion-app>
  
  <ion-header translucent>

    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="toggleVisibleFilters()" size="large">
          <ion-icon slot="icon-only" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="getAllUsuarios()" size="large">
          <ion-icon slot="icon-only" name="reload"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="ion-text-center">Usuarios</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content padding="true">

    <ion-refresher slot="fixed" (ionRefresh)="getAllUsuarios($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card>

      <ion-card-content *ngIf="visibleFilters">

        <!--ion-list-->
          <!--ion-list-header><b>Filtrar por</b></ion-list-header-->

        <ion-row><b>Filtrar por</b></ion-row>

        <ion-col size="12" size-xs="12" size-sm="12" size-md="12" size-sm="12">

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[1]"></ion-checkbox>
                <ion-label>Sexo</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-segment value="m" (ionChange)="generoSegmentChanged($event)">
                <ion-segment-button value="m">
                  <ion-label>Masculino</ion-label>
                </ion-segment-button>
                <ion-segment-button value="f">
                  <ion-label>Femenino</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[0]"></ion-checkbox>
                <ion-label>Ubicación [km]</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" max="100" pin="true" [(ngModel)]="ubicacionValue" (ionChange)="updateUbicacionRangeValue($event)">
                <ion-icon slot="start" size="small" name="pin"></ion-icon>
                <ion-icon slot="end" name="pin"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[2]"></ion-checkbox>
                <ion-label>Edad</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" min="0" max="100" dualKnobs="true" pin="true" [(ngModel)]="edadValue">
                <ion-icon slot="start" size="small" name="person-remove"></ion-icon>
                <ion-icon slot="end" name="person-add"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[3]"></ion-checkbox>
                <ion-label>Experiencia</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" step="10" min="0" max="1000" dualKnobs="true" pin="true" [(ngModel)]="expValue">
                <ion-icon slot="start" size="small" name="barbell"></ion-icon>
                <ion-icon slot="end" name="barbell"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="4" size-sm="12">
              <ion-item lines="none">
                <ion-checkbox color="primary" slot="start" [(ngModel)]="listaUsuariosFlags[4]"></ion-checkbox>
                <ion-label>Valoracion</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-xs="12" size-sm="12" size-md="8" size-sm="12">
              <ion-range id="rangecenter" step="5"  min="0" max="100" dualKnobs="true" pin="true" [(ngModel)]="valoracionValue">
                <ion-icon slot="start" size="small" name="heart"></ion-icon>
                <ion-icon slot="end" name="heart"></ion-icon>
              </ion-range>
            </ion-col>
          </ion-row>

        </ion-col>
        
        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" (click)="getUsuarios()" style="text-transform:none!important;">
              <ion-icon name="search" slot="start"></ion-icon>
              Aplicar Filtros
            </ion-button>
          </ion-col>

          <ion-col>
            <ion-button color="danger" expand="block" (click)="resetFilters()" style="text-transform:none!important;">
              <ion-icon name="close" slot="start"></ion-icon>
              Restablecer Filtros
            </ion-button>
          </ion-col>
        </ion-row>

        <!--/ion-list-->

      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        Lista de Usuarios
      </ion-card-header>

      <ion-card-content>
        <ion-searchbar (ionInput)="searchUserName($event)" debounce="500" placeholder="Nombre de Usuario"></ion-searchbar>

        <ion-list>
          <!--ion-list-header>Lista de Usuarios</ion-list-header-->
            <ion-item *ngFor = "let usuario of listaUsuarios">
              <ion-avatar slot="start">
                <img [src]="path+usuario.rutaimagen">
              </ion-avatar>
              <ion-label> 
                {{usuario.username}}
                <h1><ion-badge color="secondary">{{usuario.ubicacion}}</ion-badge></h1>
                <ion-chip outline color="dark">
                  <ion-label *ngIf="usuario.sexo == 'm'">Hombre</ion-label>
                  <ion-label *ngIf="usuario.sexo == 'f'">Mujer</ion-label>
                </ion-chip>
                <ion-chip outline color="secondary">
                  <ion-label>{{usuario.edad}} Años</ion-label>
                </ion-chip>
                <ion-chip outline color="danger">
                  <ion-label>{{usuario.exp}} XP</ion-label>
                </ion-chip>
                <ion-chip outline color="success">
                  <ion-label>Valoración {{usuario.valoracion}}</ion-label>
                </ion-chip>
              </ion-label>
              <ion-button fill="clear" color="success" size="large" (click)= "presentAlert(usuario)" *ngIf="this.usuarioLogueado.username !== usuario.username">
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="success" size="large" (click)= "goPerfil()" *ngIf="this.usuarioLogueado.username == usuario.username">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-card>

  </ion-content>
</ion-app>
