/* #content-card{
    height: 500px;
} */

#scroll{
    height: 120px;
    overflow-y: scroll;
}

#notificacionesCard{
    background-color: rgba(252, 203, 196, 0.459);
}

#amigosCard{
    background-color: rgba(196, 225, 252, 0.459);
}

#partidasCard{
    background-color: rgba(255, 252, 210, 0.507);
}

#torneosCard{
    background-color: rgba(225, 255, 219, 0.507);
}