<ion-app>

  <ion-header translucent>

    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-title class="ion-text-center">Página Principal</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <ion-row class="ion-justify-content-center">
            <ion-chip color="primary">
              <ion-avatar>
                <img [src]="this.ambiente.path + usuarioLogueado.rutaimagen">
              </ion-avatar>
              <ion-label>{{usuarioLogueado.username}}</ion-label>
            </ion-chip>
          </ion-row>
          <strong>Bienvenido de nuevo a Rackets4All</strong>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Notificaciones y Chats
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Tus Amigos
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Tus Torneos Activos
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    Tus Partidos Activos
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        
      </ion-card-content>
    </ion-card>

  </ion-content>
</ion-app>