<ion-header translucent>
  <ion-toolbar color="primary">
   <ion-buttons slot="start">
     <ion-back-button defaultHref="/main/usuarios"></ion-back-button>
   </ion-buttons>

   <ion-title class="ion-text-center">Nuevo Partido</ion-title>
 </ion-toolbar>
</ion-header>

<ion-content padding="true">

  <ion-card>
    
      <ion-card-header>
        <!--ion-card-title class="ion-text-center">Crea tu partida</ion-card-title--> 
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-list-header><strong>Participantes:</strong></ion-list-header>

          <ion-item lines="none">
            <!--ion-col><ion-label>Organizador</ion-label></ion-col-->
            <ion-col>
              <!--ion-input class= "inp" type="text" name="organizador" value= {{organizador}} readonly=readonly></ion-input-->
              <ion-chip>{{this.usuarioLogueado.username}}</ion-chip>
            </ion-col>
          </ion-item>

          <ion-item lines="none" *ngFor="let invitado of this.invitados">
            <!--ion-col><ion-label>Invitado</ion-label></ion-col-->
            <ion-col>
              <!--ion-input class= "inp" type="text" name="invitado"  value= {{invitados[0]}} readonly=readonly></ion-input-->
              <ion-chip>{{invitado}}</ion-chip>
            </ion-col>
          </ion-item>

          <ion-item>
            <ion-button color="success" fill="clear"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
          </ion-item>

          <ion-item lines="none">
            <ion-col><ion-label>Modo</ion-label></ion-col>
            <ion-col>
              <ion-segment value="i" (ionChange)="modoSegmentChanged($event)">
                <ion-segment-button value="i">
                  <ion-label>(I)ndividuales</ion-label>
                </ion-segment-button>
                <ion-segment-button value="d">
                  <ion-label>(D)obles</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-item>

          <ion-item lines="none">
            <ion-col><ion-label>Ubicación: </ion-label></ion-col>
            <ion-col>Seleccionar en el mapa</ion-col>
          </ion-item>

        </ion-list>

      </ion-card-content>

  </ion-card>

  <div id="mapid2" class="mapa"></div>

  <div id="boton">
    <ion-button size="large" expand="block" color="success" (click)="addPartida($event)">
      <ion-icon name="tennisball-outline" slot="start"></ion-icon>
      Crear / Invitar
    </ion-button>
    <!--ion-button size="large" color="success" type="submit">Invitar a los jugadores</ion-button-->
  </div>


  
  

</ion-content>
