#mapid{
    height: 95%;
    width: 100%;
}
#leyenda{
   align-items: center;
   align-self: center;
   align-content: center;
}
#marker{
    margin-right: 5px;
    width: 15px;
}
b{
    font-size: 12px;
}
ion-col{
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}