<ion-app>

  <ion-header translucent>

    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="this.loadPosition()" size="large">
          <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="ion-text-center">Mapas</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

  <div id="mapid"></div>

  </ion-content>
</ion-app>