<ion-app>

  <ion-header translucent>

    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="this.loadPosition()" size="large">
          <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title class="ion-text-center">Mapas</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content>

  <div id="mapid"></div>

  <ion-row>
    <!--<ion-grid>
       <ion-col id="leyenda" size="12" size-xs="12" size-sm="6" size-md="4" size-sm="2">
-->        
        <ion-col size="3" size-xs="3" size-sm="4" size-md="3" size-sm="2">
          <img id="marker" src="https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png"><b>Mi ubicación</b>
        </ion-col>
        <ion-col size="3" size-xs="3" size-sm="4" size-md="3" size-sm="2">
          <img id="marker" src="https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png"><b>Usuarios</b>
        </ion-col>
        <ion-col size="3" size-xs="3" size-sm="4" size-md="3" size-sm="2">
          <img id="marker" src="https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png"><b>Partidos</b>
        </ion-col>
        <ion-col size="3" size-xs="3" size-sm="4" size-md="3" size-sm="2">
          <img id="marker" src="https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png"><b>Torneos</b>
        </ion-col>
        
<!--       </ion-col>
     </ion-grid>-->
  </ion-row>

  </ion-content>
</ion-app>