<ion-header>
  <ion-toolbar>
    <ion-title>partidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list>
      <h3>Partidas en las que estas: <b>{{usuario}}</b></h3>
      <ion-item *ngFor="let partida of listapartidas; let i = index" >
        <ion-label>
          <p>Organizada por: <b>{{partida.organizador}}</b></p>
          <p>Jugadores invitados: <b>{{partida.invitado}}</b></p>
          <p>Modo: <b>{{partida.modo}}</b></p>
          <!-- <p>Ubicacion: <b>{{partida.ubicacion}}</b></p> -->
          <div *ngIf="partida.ganador == 'encurso'">
          <p>Estado: <b class= "encurso">{{partida.ganador}}</b></p>
          </div>
          <div *ngIf="partida.ganador != 'encurso'">
            <p>Ganador: <b class= "ganador">{{partida.ganador}}</b></p>
            </div>
        </ion-label>
        
        <div *ngIf="partida.ganador == 'encurso'">
        <ion-item>
            <ion-select  [(ngModel)]="ganador" placeholder="Seleccionar ganador"(ionChange)="detGanador(i)">
              <ion-select-option *ngFor="let jugador of jugadoresList"   [value] =jugador  checked="false">{{jugador}}</ion-select-option>
              <!-- <ion-select-option value="Hierba">Hierba</ion-select-option>
              <ion-select-option value="Greenset">Greenset</ion-select-option>
              <ion-select-option value="Detourf">Detourf</ion-select-option>
              <ion-select-option value="Plexicushion">Plexicushion</ion-select-option>
              <ion-select-option value="Rapida">Rápida</ion-select-option> -->
            </ion-select>
        
          </ion-item>
        <!-- <ion-button class= "det" fill="outline">
          Introduce al ganador de la partida
        </ion-button> -->
      </div>
      </ion-item>
    </ion-list>
    

  </ion-card>

</ion-content>