.encurso{
    color: rgb(55, 248, 7);
}

.ganador{
    color: rgb(18, 4, 146);
}

ion-select{
    min-width: 100%;
    background-color: #b3eea4;
}
.selectitem{
    background-color: #b3eea4;
}
ion-select-option{
    min-width: 100%;

}