<ion-header>
  <ion-header translucent>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
  
      <ion-title class="ion-text-center">Estadísticas globales</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <div class="item">
  <h5><p>*Tamaño del bubble: experciencia acumulada </p></h5>
  <h4><p>Colocate encima de cada bubble para ver los datos </p></h4>
  </div>
  <div id="bubbleChart" style="width: 900px; height: 500px;"></div>

</ion-content>
