#mapid4{
    height: 40%;
    //width: 98%;
    display: flex;
    /* left: 50%; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#boton{
    margin-left: 8px;
    margin-right: 8px;
}
#scroll{
    height: 85px;
    overflow-y: scroll;
}
#medal{
    color:#7d4e19;
    background-color: #FFD700;
    background: #FFD700;
}